.bottom{position:fixed;right:0px; bottom:0;font-size: 10px;}

body, div, h1, h2, h3, h4, h5, h6,
 p, a,  img, var,  ul, li, 
footer, header, nav,
section, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

footer, header,  nav, section {
	display: block;}

body {
	line-height: 1;
}

ul {
	list-style: none;
}
	html {
		box-sizing: border-box;
	}

	body, input,  {
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400;
		color: #919499;
		font-size: 14pt;
		line-height: 1.75em;
		letter-spacing: 0.025em;
	}

	a {
		text-decoration: underline;
		color: #717479;
	}

		a:hover {
			text-decoration: none;
		}


	p, ul, {
		margin-bottom: 2em;
	}

	.container {
		margin: 0 auto;
		max-width: 100%;
		width: 68em;
	}


	header.style1 {
		text-align: center;
		padding: 3em 0 3em 0;
	}

		header.style1 h2 {
			font-weight: 700;
			font-size: 2em;
			letter-spacing: 0.075em;
			line-height: 1.5em;
		}

		header.style1 p {
			color: #b1b4b9;
			display: block;
			margin: 1.15em 0 0 0;
			font-size: 1.3em;
			letter-spacing: 0.075em;
			line-height: 1.5em;
		}


	.image {
		display: inline-block;
	}

		.image img {
			display: block;
			width: 100%;
		}

		.image.fit {
			display: block;
			width: 100%;
		}

		.image.left {
			float: left;
			margin: 0 2em 2em 0;
		}

		.image.centered {
			display: block;
			margin: 0 0 2em 0;
		}

			.image.centered img {
				margin: 0 auto;
				width: auto;
			}

		.image.featured {
			display: block;
			width: 100%;
			margin: 0 0 2em 0;
		}

	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	button,
	.button {
		-moz-transition: all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		display: inline-block;
		background: #444;
		text-align: center;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.25em;
		text-decoration: none;
		border-radius: 0.35em;
		cursor: pointer;
		padding: 0 2.25em 0 2.25em;
		font-size: 0.9em;
		min-width: 12em;
		height: 4em;
		line-height: 4em;
	}

		input[type="button"]:hover,
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		button:hover,
		.button:hover {
			background-color: #f98780;
		}

		input[type="button"].large,
		input[type="submit"].large,
		input[type="reset"].large,
		button.large,
		.button.large {
			font-size: 1em;
			min-width: 14em;
		}

		input[type="button"].style1,
		input[type="submit"].style1,
		input[type="reset"].style1,
		button.style1,
		.button.style1 {
			background: #e97770 url("images/overlay.png");
			color: #fff;
		}

			input[type="button"].style1:hover,
			input[type="submit"].style1:hover,
			input[type="reset"].style1:hover,
			button.style1:hover,
			.button.style1:hover {
				background-color: #f98780;
			}

			input[type="button"].style1:active,
			input[type="submit"].style1:active,
			input[type="reset"].style1:active,
			button.style1:active,
			.button.style1:active {
				background-color: #d96760;
			}

		input[type="button"].style2,
		input[type="submit"].style2,
		input[type="reset"].style2,
		button.style2,
		.button.style2 {
			background: none;
			color: #606167;
			box-shadow: inset 0px 0px 2px 0px #a0a1a7;
		}

			input[type="button"].style2:hover,
			input[type="submit"].style2:hover,
			input[type="reset"].style2:hover,
			button.style2:hover,
			.button.style2:hover {
				box-shadow: inset 0px 0px 2px 0px #606167;
			}

			input[type="button"].style2:active,
			input[type="submit"].style2:active,
			input[type="reset"].style2:active,
			button.style2:active,
			.button.style2:active {
				box-shadow: inset 0px 0px 2px 0px #202127;
			}

		input[type="button"].style3,
		input[type="submit"].style3,
		input[type="reset"].style3,
		button.style3,
		.button.style3 {
			background: #2f333b url("images/overlay.png");
			color: #fff;
		}

			input[type="button"].style3:hover,
			input[type="submit"].style3:hover,
			input[type="reset"].style3:hover,
			button.style3:hover,
			.button.style3:hover {
				background-color: #3f434b;
			}

			input[type="button"].style3:active,
			input[type="submit"].style3:active,
			input[type="reset"].style3:active,
			button.style3:active,
			.button.style3:active {
				background-color: #1f232b;
			}
	ul {
		list-style: disc;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.style2 {
			list-style: none;
			padding-left: 0;
		}

			ul.style2 li {
				border-top: solid 1px #eee;
				padding: 1.5em 0 0 0;
				margin: 1.5em 0 0 0;
			}

				ul.style2 li:first-child {
					border-top: 0;
					padding-top: 0;
					margin-top: 0;
				}

		ul.style3 {
			list-style: none;
			padding-left: 0;
		}

			ul.style3 li {
				border-top: solid 1px #eee;
				padding: 0.5em 0 0 0;
				margin: 0.5em 0 0 0;
			}

				ul.style3 li:first-child {
					border-top: 0;
					padding-top: 0;
					margin-top: 0;
				}

		 li {
			padding-left: 0.25em;
		}

	ul.actions {
		list-style: none;
		padding-left: 0;
		margin: 3em 0 0 0;
	}

		ul.actions li {
			display: inline-block;
			margin: 0 0.75em 0 0.75em;
			padding-left: 0;
		}

			ul.actions li:first-child {
				margin-left: 0;
			}

			ul.actions li:last-child {
				margin-right: 0;
			}

		ul.actions.special {
			text-align: center;
		}
	.wrapper {
		position: relative;
		padding: 6em 0 9em 0;
	}

		.wrapper .title {
			position: absolute;
			top: 0;
			left: 50%;
			text-align: center;
			text-transform: uppercase;
			display: block;
			font-weight: 700;
			letter-spacing: 0.25em;
			font-size: 0.9em;
			width: 25em;
			height: 3.25em;
			top: -3.25em;
			line-height: 3.25em;
			margin-bottom: -3.25em;
			margin-left: -12.5em;
			padding-top: 0.5em;
		}
		.wrapper.style1 {
			background: #e97770 url("images/overlay.png");
			color: #eee;
			color: rgba(255, 255, 255, 0.75);
		}

			.wrapper.style1 .title {
				background: #e97770 url("images/overlay.png");
				color: #fff;
			}

			.wrapper.style1 h1, .wrapper.style1 h2, .wrapper.style1 h3, .wrapper.style1 h4, .wrapper.style1 h5, .wrapper.style1 h6, .wrapper.style1 strong, .wrapper.style1 b, .wrapper.style1 a {
				color: #fff;
			}

		.wrapper.style2 {
			background: #fff;
		}

			.wrapper.style2 .title {
				background: #fff;
				color: #484d55;
			}

		.wrapper.style3 {
			background: #f3f3f3 url("images/overlay.png");
		}

			.wrapper.style3 .title {
				background: #f3f3f3 url("images/overlay.png");
				color: #484d55;
			}

			.wrapper.style3 .image {
				border: solid 10px #fff;
			}

	#header {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		position: relative;
		height: 24em;
		background: url("../../images/banner.jpg") center center;
		background-size: cover;
		padding: 0;
	}

		#header:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url("images/overlay.png");
		}

		.homepage #header {
			height: 35em;
		}


	#text {
		width: 100%;
		text-align: center;
		position: relative;
		top: 1.5em;
	}

		#text h1 {
			font-weight: 900;
			text-transform: uppercase;
			color: #fff;
			font-size: 2em;
			letter-spacing: 0.25em;
		}

		#text p {
			color: #eee;
			color: rgba(255, 255, 255, 0.5);
			text-transform: uppercase;
			margin: 1.25em 0 0 0;
			display: block;
			letter-spacing: 0.2em;
			font-size: 0.9em;
		}

	#nav {
		position: absolute;
		display: block;
		top: 2.5em;
		left: 0;
		width: 100%;
		text-align: center;
	}

		#nav > ul {
			display: inline-block;
			border-radius: 0.35em;
			box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
			padding: 0 1.5em 0 1.5em;
		}

			#nav > ul > li {
				display: inline-block;
				text-align: center;
				padding: 0 1.5em 0 1.5em;
			}

				#nav > ul > li > ul {
					display: none;
				}

				#nav > ul > li > a, #nav > ul > li > span {
					display: block;
					color: #eee;
					color: rgba(255, 255, 255, 0.75);
					text-transform: uppercase;
					text-decoration: none;
					font-size: 0.7em;
					letter-spacing: 0.25em;
					height: 5em;
					line-height: 5em;
					-moz-transition: all .25s ease-in-out;
					-webkit-transition: all .25s ease-in-out;
					-o-transition: all .25s ease-in-out;
					-ms-transition: all .25s ease-in-out;
					transition: all .25s ease-in-out;
					outline: 0;
				}

				#nav > ul > li:hover > a {
					color: #fff;
				}

				#nav > ul > li.active > a, #nav > ul > li.active > span {
					color: #fff;
				}


	#intro {
		padding-bottom: 8em;
		text-align: center;
	}

		#intro p.style1 {
			font-size: 1.5em;
			letter-spacing: 0.075em;
		}

		#intro p.style2 {
			font-weight: 700;
			color: #fff;
			border-radius: 0.35em;
			box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
			font-size: 2.75em;
			letter-spacing: 0.075em;
			line-height: 1.35em;
			padding: 1em 0 1em 0;
			margin-bottom: 1em;
		}

			#intro p.style2 a {
				color: inherit;
				text-decoration: none;
			}

		#intro p.style3 {
			font-size: 1.1em;
			width: 48em;
			margin: 0 auto;
		}


	#features header.style1 {
		padding-bottom: 5em;
	}

	#features ul.actions {
		margin-top: 5em;
	}


	#footer {
		background: #282b34 url("images/overlay.png");
		color: #eee;
		color: rgba(255, 255, 255, 0.5);
		padding-bottom: 6em;
	}

	#footer .title {
			background: #282b34 url("images/overlay.png");
			color: #eee;
		}
			}

			#footer header.style1 .p {
				color: inherit;
			}

			#footer .feature-list section {
				border-top-color: rgba(255, 255, 255, 0.05);
			}

			#footer .feature-list h3:before {
				background: #3d4249 url("images/overlay.png");
			}